#detail-product{
	height:auto;
	width:755px;
}
#title-pro{
	width:750px;
	height:35px;
	
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-transform:capitalize;
	font-weight:bold;
	background-repeat:no-repeat;
	line-height:35px;
	
	padding-left:2px;
	border-top-left-radius:5px;
}
#pro-detail{
	float:right;
	width:700px;
	height:320px;
	margin-top:20px;
	
	margin-right:20px;
}
#img-pro{
	float:left;
	width:150px;
	height:250px;
	margin-left:80px;
}
#detail{
	margin-top:20px;
	width:380px;
	height:300px;
	float:right;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
#detail span{
	font-size:16px;
	color:#F00;
	font-weight:bold;
}
#detail ul li{
	list-style:none;
	margin-bottom:10px;	
}
#name-detail{
	text-transform:capitalize;
	font-size:18px;
	font-weight:bold;
	color:#F00;
	border-bottom:1px solid #999;
	padding-bottom:10px;
}
#fac-detail{
	padding-top:20px;
}
#mua-hang{
	width:100px;
	height:30px;
	background-color:#F00000;
	border-radius:5px;
	margin-left:5px;
	margin-top:30px;
	line-height:30px;
	text-align:center;
}
#mua-hang a{
	text-decoration:none;
	color:#fff;
}
/* Chi tiết sản phẩm */
.tabbed{
	width:700px;
	height: auto;
	clear: both;
	float: left;
	position:relative;
}
.tabnav{
	width: 700px;
	height: 32px;
	clear: both;
	float:left;
	margin-left: 30px;
	border-bottom: 3px solid #E6E6E6;
}
.tabcont {
	clear: both;
	float: left;
    width: 700px;
}
.tabcontent{
    clear: both;
    width: 700px;
    float: left;
    height: auto;
    display: none;
}
.tabcontent.active {
    display: block;
}
.tabnav li{
	background-color: #F6F6F6;
	width: 160px;
	height: 32px;
	list-style: none;
	float:left;
	line-height: 32px;
	font-size: 16px;
	margin-right: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	border: 1px solid #E6E6E6;
}
.tabnav li a{
	text-decoration: none;
	height: 30px;
	width: 160px;
	display: block;
	color: #000;
	font-weight: bold;
}
.tabnav li a:hover{
	color: #fff;
}
.tabnav li:hover{
	background-color: #014C93;

}
#descrip-prd{
	clear:both;
	width:700px;
	height:auto;
	margin-left:30px;
	margin-bottom:50px;
	font-size:14px;
	border-top: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2;
	margin-top: 20px;
	float: left;
}
.info-detail{
	height: 25px;
	line-height:25px;
	background-color: #FAFAFA;
}
.title-info-1{
	border-bottom: 1px solid #F2F2F2;
	border-left: 1px solid #F2F2F2;
	width: 20%;
	padding-left: 10px;
}
.info-detail-2{
	width: 80%;
	border-left: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	padding-left: 10px;
}
.prd-comment{
	clear: both;
	float: left;
	width:600px;
	margin-left:40px;
	padding-bottom:50px;
}
.prd-comment h3{
	clear: both;
}
.prd-comment ul{
	width:350px;
}
.prd-comment ul li{
	margin-top:10px;
	width:350px;
	list-style:none;
	margin-bottom:5px;
}
.required input{
	width:350px;
	height:25px;
}
.required textarea{
	width:350px;
	height:100px;
}
.comment-list{
	clear: both;
	width:450px;
	margin-left:40px;
	margin-top:20px;
	margin-bottom: 30px;
}
.comment-list ul{
	margin-bottom:15px;
	margin-top:5px;
	border-bottom:1px solid #EAEBE9;
}
.comment-list ul li{
	list-style:none;
	margin-bottom:5px;
}
.tabcont h2{
	margin-left: 40px;
	width: 700px;
	height: 20px;
	font-weight: normal;
	font-size: 16px;
	margin-top: 20px;
	line-height: 20px;
}
#gia-cu{
	font-size: 12px;
	font-family: Arial;
	text-decoration: line-through;
}