#gio-hang{
	width:755px;
	height:35px;
	background-image:url(../anh/cat-bg.png);
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:capitalize;
	font-weight:bold;
	background-repeat:no-repeat;
	line-height:35px;
	background-color:#ECEEED;
	padding-left:2px;
	border-top-left-radius:5px;
}
#gio-hang h2{
	font-size: 18px;
}
.tbl-gio-hang{
	width:755px;
	height:auto;
	margin-top:30px;
	border-top:1px solid #999;
	border-right:1px solid #999;
	margin-left: 100px;
}
#tbl-gio-hang tr{
	
}
#title-gio-hang{
	width:755px;
	height:30px;
}
#title-gio-hang td{
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	background-color:#CCC;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:17px;
	color:#000;
}
.iteam-gio-hang td{
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	height:75px;
	line-height:70px;
	padding-left:5px;
	font-size:16px;
}
.iteam-gio-hang td img{
	padding-left:30px;
}
#total-price{
	padding-left:600px;
	padding-top:5px;
	padding-bottom:9px;
	font-size:16px;
}
.submit-gio-hang input{
	margin-right:5px;
	float:left;
}
#submit-right input{
	float:right;
}
#xoahang{
	width:100px;
	height:30px;
}
.custumer-info{
	width:450px;
	padding-bottom:30px;
	height: auto;
	float: left;
}
.custumer-info ul{
	width:320px;
	float: left;
	margin-left:80px;
}
.custumer-info ul li{
	margin-top:10px;
	width:350px;
	list-style:none;
	margin-bottom:5px;
	height: 30px;
}
.required input{
	width:200px;
	height:25px;
	margin-left:20px;
	float: right;
	
}

h4{
	margin-left: 50px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: red;
	font-size: 18px;
	clear: both;
}
#muahang{
	width: 700px;
	margin-left: 40px;
}
#submit{
	padding-left: 300px;
	margin-top: 40px;
	margin-bottom: 80px;
}
.required .hi{
	width:200px;
	height:25px;
	margin-left:20px;
	float: right;
	color: #014C93;
}
.select select{
	margin-left: 80px;
	margin-right: 10px;
}

.xuly{
	float: left;
}
.xuly #vien{
	width:300px;
	padding-bottom:30px;
	height: auto;
	float: left;
	margin-left: 100px;
}
.xuly #vien ul{
	width:300px;
	float: left;
	margin-left: 5px;
}
.xuly #vien ul li{
	margin-top:10px;
	width:250px;
	list-style:none;
	margin-bottom:5px;
	height: 30px;
}
#vien ul li select {
	float: right;
}
#vien ul textarea{
	margin-left: 70px;
	
}
.required input{
	width:200px;
	height:25px;
	margin-left:10px;
}
.required #save{
	width:50px;
	height:25px;	
}
#error{
	color: red;
	clear: both;
	margin-top: 20px;
	float: left;
	padding-left: 150px;
}
#vien{
	width:300px;
	padding-bottom:30px;
	height: auto;
	float: left;
	margin-left: 100px;	
	border:1px solid #ccc;
}
#submit-huy{
	float: left;
	clear: both;
	margin-top: 40px;
	margin-left: 200px;
	background-color: #80868B;
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    width: 125px;
    text-align: center;
}
#submit-huy a{
	color:#fff;
	text-decoration: none;
}