@charset "utf-8";
/* CSS Document */

/*---------------- Reset CSS -------------------*/
*{
	margin:0px;
	padding:0px;
	}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	}

/*---------------- Form Login -------------------*/
#form-login{
	width:340px;
	height:auto;
	margin:80px auto 20px auto;
	border:1px solid #30B403;
	border-top:3px solid #840000;
	background:#FFF;
	}

h2{
	width:340px;
	height:35px;
	line-height:35px;
	background-color:#00F93F;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#000;
	text-align:center;
	text-transform:capitalize;
	border-bottom:2px solid #CCC;
	}

span{
	font-weight:normal;
	color:#F00;
	margin-left:550px;
	}

#form-login ul{
	overflow:hidden;
	width:330px;
	height:auto;
	padding:20px 10px 0px 10px;
	}

#form-login ul li{
	list-style:none;
	width:300px;
	height:25px;
	margin-bottom:15px;
	float:left;
	}
#form-login ul li label{
	float:left;
	width:25%;
	height:auto;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	color:#000;
	text-transform:capitalize;
	}

#form-login ul li input[type="text"], input[type="password"]{
	width:200px;
	height:25px;
	border:1px solid #CCC;
	font-size:15px;
	margin-left:10px;
	}


































