@charset "utf-8";
/* CSS Document */
#body{
	border:1px solid #999;
}

#body h2{
	width:928px;
	height:35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	text-transform:capitalize;
	background-color:#840000;
	line-height:35px;
	color:#fff;
	border-radius:2px;
	padding-left:2px;
	margin-bottom:20px;
	font-weight:500;
	text-align:center;
}
#main{
	width:930px;
	height:auto;
	}	

#prds{
	width:930px;
	height:auto;
	border-top:1px solid #CCC;
	border-right:1px solid #CCC;
	}
#prds tr td{
	border-left:1px solid #CCC;
	border-bottom:1px solid #CCC;
	}
#prd-bar{
	width:100%;
	height:30px;
	line-height:30px;
	background:#666;
	}

#prd-bar td{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	text-transform:capitalize;
	padding-left:5px;
	text-align:center;
	}

#prds tr td span{
	display:block;
	text-align:center;
	}

#prds tr td span.thumb{
	padding:5px 0px;
	}
	
	
#prds tr td.l5{
	padding-left:10px;
	}

#prds tr td span.price{
	font-weight:bold;
	color:#840000;
	text-align:left;
	}

p#pagination{
	width:910px;
	height:auto;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	word-spacing:5px;
	padding-top:10px;
	}
	
p#pagination span{
	font-weight:bold;
	color:#840000;;
	}

p#pagination a{
	color:#000;
	text-decoration:none;
	}





















