#gio-hang{
	width:755px;
	height:35px;
	background-image:url(../anh/cat-bg.png);
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:capitalize;
	font-weight:bold;
	background-repeat:no-repeat;
	line-height:35px;
	background-color:#ECEEED;
	padding-left:2px;
	border-top-left-radius:5px;
}
#gio-hang h2{
	font-size: 18px;
}
.tbl-gio-hang{
	width:755px;
	height:auto;
	margin-top:30px;
	border-top:1px solid #999;
	border-right:1px solid #999;
}
#tbl-gio-hang tr{
	
}
#title-gio-hang{
	width:755px;
	height:30px;
}
#title-gio-hang td{
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	background-color:#CCC;
	text-align:center;
	text-transform:capitalize;
	font-weight:bold;
	font-size:17px;
	color:#000;
}
.iteam-gio-hang td{
	border-bottom:1px solid #999;
	border-left:1px solid #999;
	height:75px;
	line-height:70px;
	padding-left:5px;
	font-size:16px;
}
.iteam-gio-hang td img{
	padding-left:30px;
}
#total-price{
	padding-left:540px;
	padding-top:5px;
	padding-bottom:9px;
	font-size:16px;
}
.submit-gio-hang input{
	margin-right:5px;
	float:left;
}
#submit-right input{
	float:right;
}
#xoahang{
	width:100px;
	height:30px;
}