@charset "utf-8";
/* CSS Document */

.ordered{
	width:698px;
	height:auto;
	margin-right:10px;
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom:20px;
	border:1px solid #6C0;
	padding:10px;
	font-size: 16px;
	}
	
.ordered h2{
	width:100%;
	color:#333;
	height:auto;
	margin-bottom:5px;
	font-size: 20px;
	}
	
.ordered p{
	width:100%;
	height:auto;
	margin-bottom:5px;
	color:#333;
	text-align:justify;
	}
	
.ordered p.ordered-report{
	font-weight:bold;
	}
	
#return-home{
	width:710px;
	height:auto;
	margin-right:30px;
	}	

#return-home a{
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}	
	
#return-home a:hover{
	color:#C40000;
	}	
	
	
	
	
	