*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#DFDFDF;
}
#wrapper{
	background-color:#fff;
	width:1000px;
	height:auto;
	margin: 0 auto;
	font-family:Arial;
	font-size:14px;
}

/*Banner*/
#banner{
	width:1000px;
	height:245px;
	background-image:url(../anh/banner.png);
	background-repeat:no-repeat;
}
#brand{
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	float:left;
	margin-left:20px;
	margin-top:15px;
}
#brand a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
#cart{
	width:200px;
	height:25px;
	float:right;
}
#cart img{
	width:20px;
	height:20px;
	float:left;
}
.cart2{
	width:80px;
	height:25px;
	float:left;
	text-align:center;
	color:#fff;
	font-family:arial;
	font-size:14px;
}
.cart2 a{
	text-decoration: none;
}
#cart3{
	width:20px;
	height:25px;
	float:left;
	color:#FF0;
}
#hotline{
	width:200px;
	height:20px;
	margin-top:150px;
	float:right;
	
	color:#C03;
	font-size:18px;
	margin-left:800px;
	
}

/*Menu*/
#menu{
	clear:both;
	width:998px;
	height:35px;
	border:1px solid #999;
	margin-top:10px;
	border-radius:4px;
}
#menu ul{
	width:998px;
	height:35px;
	background-color:#C2C285;
	line-height:35px;
}
#menu ul li{
	float:left;
	font-size:16px;
	font-weight:bold;
	padding-left:20px;
	padding-right:20px;
	list-style:none;
	text-transform:uppercase;
	border-right:1px solid #CCC;
	text-align:center;
}
#menu ul li:hover{
	background-color:#7A7A3D;
}
#menu ul li:hover a{
	color:#000;
}
#menu ul li a{
	color:#000;
	text-decoration:none;
}

/*Body*/
#body{
	clear:both;
	float:left;
	width:1000px;
	margin-top:10px;
	height:auto;
}

/*SideBar*/
#sidebar{
	float:left;
	width:220px;
	height:auto;
}
#menu-bar{
	width:220px;
	height:auto;
}
#sidebar h2{
	background-color:#333;
	height:35px;
	width:210px;
	color:#fff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:35px;
	text-transform:uppercase;
	border-top-left-radius:10px;
	padding-left:10px;
	border-bottom:2px solid #fff;
}
#main-menu{
	width:220px;
	background-color:#EAE9E5;
}
#main-menu li{
	list-style:none;
	line-height:30px;
	width:220px;
	border-bottom: 1px solid #DBDBDB;
}
#main-menu li:hover{
	background-color:#fff;
}
#main-menu li:hover a{
	color:#F00;
}
#main-menu li a{
	margin:5px auto 5px 17px;
	text-decoration:none;
	font-family:arial;
	font-size:16px;
	color:#000;
	font-weight:bold;
}
#adsense{
	margin-top:20px;
	width:220px;
	height:auto;
}
#adsense img{
	width:220px;
	height:350px;
}
#view{
	margin-top:20px;
	width:220px;
	height:70px;
	border:1px solid #ccc;
}
#view h2{
	background-color:#333;
	height:25px;
	width:191px;
	color:#fff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	line-height:25px;
	text-transform:capitalize;
	padding-left:30px;
	border-bottom:2px solid #fff;
	border-top-left-radius:0px;
}
#view p{
	height:45px;
	width:220px;
	text-align:center;
	line-height:45px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
#view p span{
	color:#F00;
	font-weight:bold;
}

/*Content*/
#content{
	float:left;
	width:770px;
	margin-left:10px;
	height:auto;
}
#search-bar{
	float:right;
	width:300px;
	margin-left:10px;
	height:35px;
	margin-top:5px;
	margin-bottom:15px;
	background-color:#f4f4f4;
	border:1px solid #999;
	margin-right:15px;
}
#input-search{
	background-color:#f4f4f4;
	border:medium none;
	height:35px;
	width:260px;
	font-size:16px;
	line-height:35px;
	font-style:italic;
}
#submit-search{
	background-image:url(../anh/search_icon.png);
	background-repeat: no-repeat;
    border: medium none;
    float: right;
    height: 35px;
    width: 40px;
}
#content-main{
	clear:both;
	float:left;
	height:auto;
	width:755px;
}
/*-------- Phần thay đổi --------*/

/*-------- End phần thay đổi ------*/
/*prd-brand*/
#prd-brand{
	float:left;
	width:1000px;
	height:70px;
	margin-top:40px;
}
#prd-brand img{
	width:940px;
	height:70px;
	margin-left:50px;
}

/*footer*/
#footer{
	float:left;
	height:80px;
	width:1000px;
	line-height:25px;
	padding-top:30px;
	text-align:center;
	background-color:#666;
	border-top:2px solid #36C;
	color:#fff;
}