.prd-block{
	width:770px;
	height:auto;
	margin-bottom:20px;
}
.prd-block h2{
	width:755px;
	height:35px;
	background-image:url(../anh/cat-bg.png);
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-transform:capitalize;
	font-weight:bold;
	background-repeat:no-repeat;
	line-height:35px;
	background-color:#ECEEED;
	padding-left:2px;
	border-top-left-radius:5px;
}
.prd-list{
	width:770px;
	height:auto;
}
.prd-item{
	background-color:#FFF;
	border:1px solid #ccc;
	float:left;
	width:244px;
	height:240px;
	margin-right:10px;
	margin-top:10px;
}
.prd-item a{
	padding-left:75px;
}
.prd-item h3{
	width:244px;
	height:20px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	margin-top:3px;
}
.prd-item h3 a{
	padding-left:0px;
	text-decoration:none;
	color:#333;
}
.prd-item h3 a:hover{
	color:#F00;
}
.prd-item p{
	width:244px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#666;
	text-align:center;
	margin:2px;
}
.prd-item .price{
	font-size:16px;
	color:#F00;
	font-weight:bold;
}
.clear{
	clear:both;
}
.km{
	text-decoration: line-through;
}