*{
	margin:0px;
	padding:0px;
}
body{
	background-color:#DFDFDF;
}
#wrapper{
	float:left;
	background-color:#fff;
	width:1200px;
	height:auto;
	margin:20px 90px;
	font-family:Arial;
	font-size:14px;
	border:1px solid #009;
}
#side-bar{
	float:left;
	width:220px;
	height:auto;
	margin-top:20px;
	margin-left:10px;
	margin-bottom:20px;
}
#home{
	width:220px;
	height:40px;
	background-color:#840000;
	text-align:center;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
	margin-bottom:20px;
	
}
#home a{
	color:#fff;
	text-decoration:none;
}
#home a:hover{
	color:#F00;
}
.categoris{
	width:220px;
	height:auto;
}
.categoris h2{
	width:215px;
	height:35px;
	background-color:#840000;
	text-align:left;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
	color:#fff;
	border-right:1px solid #666;
	border-left:1px solid #666;
	padding-left:5px;
}
.categoris ul{
	width:220px;
	height:auto;
}
.categoris ul li{
	width:200px;
	height:30px;
	font-size:15px;
	padding-left:20px;
	list-style:none;
	border-right:1px solid #0C4491;
	border-left:1px solid #0C4491;
	line-height:30px;
	border-bottom:1px solid #CCC;
}
.categoris ul li a{
	text-decoration:none;
	color:#333;
	font-weight:bold;
}
.categoris ul li a:hover{
	color:#F00;
	}
#boder-bottom{
	border-bottom:1px solid #0C4491;
}
#content{
	margin-top:20px;
	margin-left:20px;
	float:left;
	height:auto;
	width:930px;
}
#header{
	width:930px;
	height:60px;
	border:1px solid #999;
	border-bottom:2px solid #999;
	margin-bottom:20px;
	background-color:#F3D8F0;
}
#them-moi{
	float:left;
	width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#840000;
	border-radius:4px;
	margin-top:10px;
	margin-left:10px;
}
#them-moi a{
	color:#fff;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
#them-moi a:hover{
	color:#F00;
}
#hello{
	float:right;
	width:150px;
	height:20px;
	line-height:20px;
}
#hello span{
	color:#F00;
}
.them{
	float:left;
	width:50px;
	height:20px;
	line-height:20px;
	text-align:center;
	background-color:#840000;
	border-radius:5px;
	margin:10px auto 5px 7px;
}
.them a{
	color:#fff;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}
.them a:hover{
	color:#F00;
}