@charset "utf-8";
/* CSS Document */
#body{
	border:1px solid #999;
	width:928px;
	height:500px;
	margin-bottom:30px;
}

#body h2{
	width:928px;
	height:35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	text-transform:capitalize;
	background-color:#840000;
	line-height:35px;
	color:#fff;
	border-radius:2px;
	padding-left:2px;
	margin-bottom:20px;
	font-weight:500;
	text-align:center;
}
.main{
	
	width:440px;
	height:auto;
	margin:10px;
	float:left;
}
.line{
	float:left;
	clear:both;
	margin-bottom:5px;
}
.line label{
	float:left;
	width:120px;
	height:30px;
	line-height:30px;
}
.line input, select{
	width:250px;
	height:25px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#area textarea{
	width:400px;
	height:150px;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
#submit{
	clear:both;
	padding-left:350px;
	margin-top:60px;
	float:left;
}
#tg_km{
	float: left;
	clear: both;
}
#tg_km input{
	width: 90px;
	height: 25px;
	margin-left: 20px;
	margin-right: 15px;
}