
<div class="ordered">
	<h2>Quý khách đã đặt hàng thành công!</h2>
    <p>• Chúng tôi đã nhận được thông tin đặt hàng của quý khách hàng</p>
    <p>• Sản phẩm của quý khách sẽ được chuyển đến địa chỉ mà khách hàng đã đăng kí sau thời gian 2 đến 3 ngày, tính từ thời điểm này.</p>
    <p>• Nhân viên giao hàng sẽ liên hệ với quý khách qua số điện thoại trước khi giao hàng 24 tiếng</p>
    <p align="center">Cám ơn Quý khách đã sử dụng sản phẩm của công ty!</p>
</div>
<p id="return-home" align="right"><a href="index.php">Quay về trang chủ</a></p>

